*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bgColor : #18122B;
}

body{
    background-color: var(--bgColor);
    font-family: "Poppins", sans-serif;
}
.todo-container{
    display: block;
    width: 65%;
    margin: auto;
    align-items: center;
}

.todo-container .todo-header{
    height: 6rem;
    display: flex;
    margin-top: 3%;
    border-radius: 20px 20px 0px 0px;
    justify-content: space-between;
    min-height: 50vh;
    align-items: center;
    background-color:#393053 ;
}

.todo-container .todo-header .todo-input{
    margin-right: 1.5rem;
}

input[type=text]{
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 3rem;
    padding: 1rem;
    margin:0 2rem;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 5px rgba(77, 76, 76, 1);
    font-weight: 700;
    font-family: inherit;
    background-color: #635985;
    color: white;
    transition: all .5s ;
}
input[type=text]:focus{
    background-color: var(--bgColor);
    outline: none;
    height: 4rem;
    font-size: 2rem;
    box-shadow: 0px 0px 10px 5px rgb(211, 208, 208);

}
input::placeholder{
    color: rgb(189, 186, 186);
}

.todo-add{
    border: none;
    border-radius: 10px;
    height: 3rem;
    padding: 1rem;
    width: 6rem;
    font-size: 1rem;
    background-color:rgb(13, 151, 13);
    margin-right: 2rem;
    box-shadow: 0px 0px 10px 5px rgba(13, 151, 13, .6);
    font-weight: 700;
    font-family: inherit;
    color: #d4d2d2;
    transition: all 0.2s ease-in-out;
}

.todo-add:hover{
    /* background-color: green; */
    box-shadow: 0px 0px 10px 5px rgb(211, 208, 208);
    color:white;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
}

.danger{
    background-color: rgb(236, 37, 37);
    box-shadow: 0px 0px 10px 5px rgba(233, 102, 16, 0.6);
}

.wd3{
    width:3rem;
}

.todo-body{
    border-radius: 100px 100px 0px 0px;
    background-color: #574d86;
    position: absolute;
    /* padding-top: 3rem; */
    color:white;
    padding: 3rem 2rem 1rem 2rem;
    max-width: inherit;
    min-height: 100%;
    top: 40%;
    width: inherit;
    height: fit-content;
}

.todo-body .card{
    display: flex;
    margin-bottom: 1rem ;
    justify-content: space-between;
    min-height: 4rem;
    align-items: center;
}